.history
/slack-server/.idea
/.idea
.env
slack-server/tokens.json
email-server/tokens.json
slack-server/credentials.json
slack-server/credentials.json
/email-server/.idea
.vercel
.DS_Store

token.pickle