.history
/slack-server/.idea
/.idea
.env
slack-server/tokens.json
email-server/tokens.json
slack-server/credentials.json
/email-server/.idea
.vercel
/slack-server/__pycache__

.DS_Store
slack-server/.DS_Store
slack-server/gcal-integration/.DS_Store
slack-server/gcal-integration/__pycache__/
token.pickle
slack-server/service-account-key.json
slack-server/token.json
slack-server/token.json
slack-server/token.json
